<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Ultimate Battle</title>
  <meta name="description" content="Battle game">

  <style>
  body {
    background-image: url(https://bit.ly/2oDAmqG);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 10px;
    margin-left: 37.5%;
    width: 25%;
  }
  h1, h2, h3 { color: black;
  }
  .center {
    text-align: center;
    background-color: gold;
  }
  </style>

</head><

<body>

  <div class="center"><h1>The Ultimate Battle</h1>

  <h1> <%= @game.player_1.name %> vs <%= @game.player_2.name %> </h1>
  <!-- <h2><%= @game.move_text %></h2> -->
  <h2><%= @game.action_text %></h2>
  <h3><%= @game.player_1.name %>: <%= @game.player_1.hp %>HP <%= @game.player_2.name %>: <%= @game.player_2.hp %>HP </h3>

  <form action="/attack" method="post">
    <input type="submit" value="Punch!" name="Punch!">
  </form>
  <form action="/attack" method="post">
    <input type="submit" value="Kick!" name="Kick!">
  </form>
  <form action="/attack" method="post">
    <input type="submit" value="Special!" name="Special!">
  </form>

  </div>

</body>

</html>
